# ------------------------------------------------------------------------------
# Project : TrueColors                                             /          \
# Filename: truecolors.service                                    |     ()     |
# Date    : 01/03/2024                                            |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# set unit properties
[Unit]
Description=Accent color matching for GTK4 flatpaks

# set service properties
[Service]
Type=simple
RestartSec=1
ExecStart=%h/.local/bin/truecolors

# -)
